.homebox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3em;
}
.top-homebox {
  width: 60%;
  color: black;
  height: 40vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.welcome-title {
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
    AppleGothic, sans-serif;
  font-size: 55px;
  margin: 0;
  color: #c71568;
}
.welcome-paragraph {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 0;
  color: black;
  padding-top: 1em;
}
.mid-left-div {
  margin: 15px;
}

.mid-homebox {
  background: radial-gradient(
    circle,
    #c7156896 23%,
    rgba(177, 63, 139, 0.658) 95%
  );
  color: white;
  height: 60vh;
  display: flex;
}
.middle-paragraph {
  font-size: 16px;
  margin: 15px 25px;
  align-self: center;
  margin-top: 9.5em;
}
.bottom-div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.quote-div {
  align-self: center;
  font-family: "Macondo", cursive;
  margin: 40px 0;
  background-color: transparent;
}
.middle-image {
  width: 700px;
  height: 100%;
}
.lower-bottom-div {
  display: flex;
  flex-direction: column;
}
.lower-bottom-div > h1 {
  align-self: center;
  margin: 40px 0;
}
.lower-image-div {
  display: flex;
  justify-content: space-around;
  margin: 15px 15px;
}
.lower-image {
  width: 200px;
}
.lower-paragraph-div {
  margin: 20px 40px;
}
.quote-author {
  margin: 0;
  font-size: 15px;
}
